<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연습!!!!!!!!</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table, tr, th, td {
            text-align: center;
            border : 2px solid #bbb;
            border-collapse: collapse;
            padding : 5px;
        }
        th {
            color : rgb(132, 39, 219);
            background-color: aliceblue;
            /* font-size: 30px; */
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            아이디 : {{user.USERID}}
        </div>
        <div>
            이름 : <input v-model="user.USERNAME" type="text"> 
        </div>
        <div>
            이메일 : <input v-model="user.EMAIL" type="text">  
        </div>
        <div>
            핸드폰번호 : <input v-model="user.PHONE" type="text">  
        </div>
        <div>
            성별 : 
            <select v-model="user.GENDER">
                <option value="M">남자</option>
                <option value="F">여자</option>
            </select>
        </div>
        <td><button @click="fnEdit">저장</button></td>

    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                user : [] ,
                userid : 0,
            };
        },
        methods: {
            fnList: function(userid) { 
                var self = this;
                var nparmap = {userId : userid};
                $.ajax({
                    url: "http://localhost:3000/userview",  // 서버 주소 수정 (http:// 포함)
                    dataType: "json",
                    type: "POST", // GET, POST
                    data: JSON.stringify(nparmap),   // 서버로 보낼 데이터
                    contentType: "application/json",
                    success: function(data) {
                        console.log(data);
                        self.user = data.list[0];
                    }
                });
            },
            fnHome: function (){
                location.href = "login.html";                            
            },
            fnEdit : function () {
                var self = this;
                //userId , USERNAME , EMAIL , PHONE ,GENDER
                var nparmap = {userId : self.userid , USERNAME : self.user.USERNAME, EMAIL : self.user.EMAIL, PHONE : self.user.PHONE, GENDER : self.user.GENDER };
                $.ajax({
                    url: "http://localhost:3000/user/update",  // 서버 주소 수정 (http:// 포함)
                    dataType: "json",
                    type: "POST", // GET, POST
                    data: JSON.stringify(nparmap),   // 서버로 보낼 데이터
                    contentType: "application/json",
                    success: function(data) {
                        console.log(data);
                        self.user = data.list[0];
                    }
                });

                                          
            },
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            const qparams = new URLSearchParams(window.location.search);
            this.userid = qparams.get('userid');

            console.log("userid",qparams.get('userid'));
            this.fnList(qparams.get('userid'));

        }
    });

    app.mount('#app');
</script>
